<h2>Create a new key player</h2>

<form action="/keyplayers" method="post">
  <div class="field">
    <label class="label" style="background-color:gold;">Name</label>
    <div class="control">
      <input class="input" type="text" name="name">
    </div>
  </div>
  <div class="field">
    <label class="label" style="background-color:gold;">Country</label>
    <div class="control">
      <input class="input" type="text" name="country">
    </div>
  </div>
  <div class="field">
    <label class="label" style="background-color:gold;">Caps</label>
    <div class="control">
      <input class="input" type="text" name="caps">
    </div>
  </div>
  <div class="field">
    <label class="label" style="background-color:gold;">Goals</label>
    <div class="control">
      <input class="input" type="text" name="goals">
    </div>
  </div>
  <div class="field">
    <label class="label" style="background-color:gold;">Club</label>
    <div class="control">
      <input class="input" type="text" name="club">
    </div>
  </div>
  <div class="field">
    <label class="label" style="background-color:gold;">Image</label>
    <div class="control">
      <input class="input" type="text" name="image">
    </div>
  </div>
  <div class="field is-grouped">

    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
    <div class="control">
      <button class="button is-text" style="background-color:lightBlue;">Cancel</button>
    </div>
  </div>
</form>
</div>
