<form method="POST" action="/register">
  <div>
    <label for="username"  style="color:white; font-weight:bold">Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="email" style="color:white; font-weight:bold">Email</label>
    <input type="text" name="email" id="email">
  </div>
  <div>
    <label for="password" style="color:white; font-weight:bold">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <label for="passwordConfirmation" style="color:white; font-weight:bold">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation">
  </div>
  <button class="button is-warning is-rounded is-outlined">Register</button>
</form>
