<h1 class="title" style="color:black">
        WORLD CUP 2018 PREDICTOR
      </h1>

      <h2 class="subtitle" style="color:black">
        Who will win, you decide...
      </h2>

<img class="info" src="https://media.giphy.com/media/UgECCLHpECJIQ/giphy.gif">
