<h1 class="title">
        WORLD CUP 2018 PREDICTOR
      </h1>
      <h2 class="subtitle">
        Who will win, you decide...
      </h2>

<img class="info" src="http://astrokentico.s3.amazonaws.com/rojakdaily/media/rd-minions/vivo%20esports%20tournament/giphy.gif" alt="Current Champions">
