<h2>New Predictions</h2>

<form action="/results" method="post">
  <div class="field">
    <label class="label">Winner </label>
    <div class="control">
      <input class="input" type="text" name="winner">
    </div>
  </div>
  <div class="field">
    <label class="label">Runner-Up </label>
    <div class="control">
      <input class="input" type="text" name="second">
    </div>
  </div>
  <div class="field">
    <label class="label">Third Place </label>
    <div class="control">
      <input class="input" type="text" name="third">
    </div>
  </div>
  <div class="field">
    <label class="label">Fourth Place </label>
    <div class="control">
      <input class="input" type="text" name="fourth">
    </div>
  </div>
  <div class="field">
    <label class="label">Top Scorer </label>
    <div class="control">
      <input class="input" type="text" name="topScorer">
    </div>
  </div>
  <div class="field">
    <label class="label">Player Of The Tournament </label>
    <div class="control">
      <input class="input" type="text" name="pott">
    </div>
  </div>
  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <input class="input" type="text" name="image">
    </div>
  </div>
  <div class="field is-grouped">

    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
</form>
